name: Spokast CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    name: Unit Tests & Build
    runs-on: macos-15

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
            
      - name: Run Tests
        run: |
          xcodebuild test \
            -scheme Spokast \
            -destination "platform=iOS Simulator,id=${{ env.DEVICE_ID }}" \
            -derivedDataPath DerivedData \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            -only-testing:SpokastTests \
            -disable-concurrent-destination-testing \
            test
            
      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          brew install sonar-scanner
        
          sonar-scanner \
            -Dsonar.organization="rudrigaum" \
            -Dsonar.projectKey="rudrigaum_Spokast" \
            -Dsonar.sources=. \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.exclusions="**/DerivedData/**,**/Pods/**,**/Fastlane/**,**/*.json,**/*.xml,**/*.xib,**/*.storyboard" \
            -Dsonar.tests=. \
            -Dsonar.test.inclusions="**/*Tests.swift" \
            -Dsonar.token=$SONAR_TOKEN
