name: Spokast CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    name: Unit Tests & Build
    runs-on: macos-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.0'

      - name: List Available Simulators
        run: xcrun simctl list devices available
            
      - name: Run Tests
        run: |
          xcodebuild test \
            -scheme Spokast \
            -destination "platform=iOS Simulator,name=iPhone 15 Pro" \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            clean test
