name: Spokast CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    name: Unit Tests & Build
    runs-on: macos-15

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
            
      - name: Run Tests
        run: |
          xcodebuild test \
            -scheme Spokast \
            -destination "platform=iOS Simulator,name=iPhone 16,OS=18.5" \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            clean test
