name: Spokast CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    name: Unit Tests & Build
    runs-on: macos-15

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
            
      - name: Run Tests
        run: |
          DEVICE_ID=$(xcrun simctl list devices available "iPhone 16" | grep "iPhone 16 (" | head -n 1 | awk -F '[()]' '{print $2}')
          
          xcrun simctl boot $DEVICE_ID || true
          
          xcodebuild test \
            -scheme Spokast \
            -destination "platform=iOS Simulator,id=$DEVICE_ID" \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            clean test
            
     - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          brew install sonar-scanner
        
          sonar-scanner \
            -Dsonar.organization="rudrigaum" \
            -Dsonar.projectKey="rudrigaum_Spokast" \
            -Dsonar.sources=. \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.exclusions="**/DerivedData/**,**/Pods/**,**/Fastlane/**,**/*.json,**/*.xml,**/*.xib,**/*.storyboard" \
            -Dsonar.tests=. \
            -Dsonar.test.inclusions="**/*Tests.swift" \
            -Dsonar.token=$SONAR_TOKEN
