name: Spokast CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    name: Unit Tests & Build
    runs-on: macos-15

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Cache Derived Data & SPM
        uses: actions/cache@v4
        with:
          path: DerivedData
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
            
      - name: Prepare Simulator
        run: |
          xcrun simctl boot "iPhone 16" || true
            
      - name: Run Tests
        run: |
          xcodebuild test \
            -scheme Spokast \
            -destination "platform=iOS Simulator,name=iPhone 16" \
            -derivedDataPath DerivedData \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            -only-testing:SpokastTests \
            -disable-concurrent-destination-testing \
            test

      - name: Convert Coverage Report
        run: |
          brew tap a7ex/homebrew-formulae
          brew install xcresultparser
          xcresultparser --output-format sonar TestResults.xcresult > coverage.xml

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          brew install sonar-scanner
        
          sonar-scanner \
            -Dsonar.organization="rudrigaum" \
            -Dsonar.projectKey="rudrigaum_Spokast" \
            -Dsonar.sources=. \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.exclusions="**/DerivedData/**,**/Pods/**,**/Fastlane/**,**/*.json,**/*.xml,**/*.xib,**/*.storyboard,**/TestResults.xcresult/**" \
            -Dsonar.tests=. \
            -Dsonar.test.inclusions="**/*Tests.swift" \
            -Dsonar.coverageReportPaths="coverage.xml" \
            -Dsonar.token=$SONAR_TOKEN
